* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #4F4F4F;
}

.wrapper {
    max-width: 1520px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

h5 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #081323;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #828282;
}

h2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #081323;
}

header {
    background-image: url(../assests/images/header-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    padding: 55px 0px;
    justify-content: right;
    gap: 439px;
}

.menu {
    max-width: 534px;
    display: flex;
}

.hamburger img {
    max-width: 46px;
    /* width: 100%; */
    display: none;
}

.cart {
    max-width: 39px;
    width: 100%;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
}

.menu ul a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 1.166;
}

.menu ul a:hover {
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu li {
    list-style-type: none;
}

.header-part2 {
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
    padding-top: 27px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1128px;
    width: 100%;
}


h1 {
    font-weight: 700;
    font-size: 82px;
    line-height: 1.170;
    text-align: center;
    color: #FFFFFF;
}

.title-h3 {
    max-width: 583px;
    padding: 24px 0px;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

.search-btn {
    width: 463px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    /* background-color: gray; */
    margin-top: 18px;
    transition: all .5s;
}

.search-btn img:hover {
    transform: scale(1.1);
}

.search-div {
    display: flex;
    max-width: 463px;
    align-items: center;
    width: 100%;
    padding: 7px 8px;
}

input[type="text"] {
    outline: none;
    border: none;
    background: none;
    padding-left: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
}


.dot-1 {
    max-width: 54px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    position: absolute;
    left: 112px;
    transform: translate(9px, -77px);
}

.dot-2 {
    max-width: 54px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    position: absolute;
    right: 136px;
    transform: translate(-3px, 137px);
}

.dot-3 {
    max-width: 54px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    transform: translate(38px, 137px);
}

.dot-mini {
    max-width: 16px;
    width: 100%;
    background: #ffff;
    border-radius: 50%;
    height: 16px;
}

.dot-section {
    display: flex;
}

.shadow {
    width: 100%;
    height: 208px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.65%);
    margin: 0 auto;
    margin-top: 464px;
}

.services-content {
    max-width: 1487px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frame {
    display: flex;
    gap: 24px;
    max-width: 377px;
    width: 100%;
}

.frame img {
    width: 84px;
    display: flex;
    align-items: center;
}

.services {
    padding: 102px 0px;
}


.best-seller {
    padding: 162px 0px;
}

.seller-content {
    display: flex;
}


#subscribe-2 {
    display: none;
}

.seller-part-1 {
    max-width: 401px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection {
    display: flex;
    align-items: center;
    max-width: 252px;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 329px;
    width: 100%;
    filter: drop-shadow(0px 4px 30px rgba(221, 218, 218, 0.25));
    height: 510px;
}

.card-p1 {
    background: #C1D0E4;
    border-radius: 50px;
}

.card-p2 {
    width: 100%;
    transform: translateY(-90px);
    background: #ffffff;
    border-radius: 50px;
    padding: 26px 38px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.checked {
    color: orange;
}


.card-p1 img {
    transform: translateY(-124px);
    max-width: 326px;
    width: 100%;
    height: 333px;
}

.card-name {
    margin: 0 auto;
    max-width: 253px;
    width: 100%;
}

.card-price {
    display: flex;
    align-items: center;
    max-width: 253px;
    width: 100%;
    margin: 0px auto;
    padding-bottom: 24px;
    justify-content: space-between;
    transition: all 0.5s;
}

.card-price img:hover {
    transform: scale(1.1);
}

.seller-part-2 {
    display: flex;
    justify-content: space-between;
    max-width: 1051px;
    width: 100%;
}

.reference-title {
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: center;
    align-items: center;
}

.reference-grid {
    display: flex;
    gap: 34px;
    padding: 82px 0px;
}

.reference-grid-p1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.text {
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    max-width: 735px;
}

.container img {
    display: flex;
    width: 100%;
}

.middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

.reference-title h6 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.container:hover .middle {
    opacity: 1;
}

#care-title {
    max-width: 452px;
    width: 100%;
}

.care-part1 {
    max-width: 585px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.care-details {
    display: flex;
    justify-content: space-between;
}

.sec-5-list {
    gap: 24px;
    display: flex;
}

.care-content {
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.care-part2 {
    max-width: 657px;
    width: 100%;
    padding: 101px 0px 56px 0px;
}

.care-tips {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.care {
    padding: 100px 0px 209px 0px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 99px;
    transform: translate(-221%, 0%);
}

footer {
    background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
}



input[type="text"] {
    height: 49px;
    width: 393px;
    border-color: white;
    border: 1px solid;
    color: #ffff;
    padding: 29px;
    background-color: #5d6775;
    border-radius: 50px;
    outline: none;
    border: none;
    overflow: hidden;
    background: none;
}

.footer-1 h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.footer {
    display: flex;
    width: 1533px;
    margin: 0px auto;
    justify-content: space-between;
    padding-top: 74px;
    display: flex;
    gap: 122px;
    padding-bottom: 52px;
}

.footer-2 {
    display: flex;
    width: 948px;
    gap: 87px;
    margin: 0 auto;
    justify-content: center;
}

footer p {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: #FFFFFF;
    margin-bottom: 32px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

footer li {
    list-style-type: none;
    margin-bottom: 20px;
}

.footer-sec-4 {}

.footer-sec-4 {
    width: 340px;
}

.footer-sec-3 {
    width: 115px;
}

.footer-sec-2 {
    width: 134px;
}

.copy-right {
    width: 601px;
    margin: 0 auto;
    padding: 52px 0px 120px 0px;
    text-align: center;
}

.copy-right p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

hr {
    width: 1513px;
   
    margin: 0 auto;
}

::placeholder {
    color: white;
}

.footer-sec-1 {
    max-width: 96px;
}

.care-section {
    display: flex;
    justify-content: space-between;
}

.footer a:hover {
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copy-right a {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.frame-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-list {
    display: flex;
}

.service-part-2 {
    display: none;
}

#service-part-2 {
    display: none;
}

#plant-img1 {
    display: none;
}

#plant-img2 {
    display: flex;
}


#collect-2{
    display: none;
}

.care-part2 img{
max-width: 657px;
height: auto;
}
/*  responsive */



@media only screen and (max-width:1640px) {
.footer{
    max-width: 1400px;
    gap: 86px;
}

.footer-2{
    gap: 54px;
}
hr{
    width: 1400px;
}
}

@media only screen and (max-width:1440px) {
    .wrapper {
        max-width: 1390px;
    }

    .navbar {
        justify-content: space-around;
    }

    h1 {
        font-size: 72px;
    }

    .menu ul {
        gap: 58px;
    }
    .seller-content {
        flex-direction: column;
        gap: 35px;
    }
    
    .seller-part-2 {
        margin: 0 auto;
        justify-content: space-around;
        gap: 30px;
    }
    
    .seller-part-1 {
        margin: 0 auto;
        max-width: 1040px;
        display: flex;
        align-items: center;
        padding-bottom: 100px;
    }
    .best-seller {
        padding: 73px 0px;
    }

    .seller-part-2{
        flex-wrap: wrap;
        justify-content: center;
        gap: 157px;
    }

    .services{
        padding: 32px 0px;
    }

    .shadow{
        margin-top: 320px;
    }

    #collect-2{
        margin: 0 auto;
    }

    .frame-img {
        display: flex;
        align-items: center;
    }

    h2{
        font-size: 57px;
    }

    #collect{
        display: none;
    }
    

    #collect-2{
        display: flex;
    }

    .container{
        max-width: 514px;
    }

    .reference-grid{
        justify-content: center;
        gap: 42px;
    }
    .middle{
        border-radius: 36px;
    }

   #care-title{
    max-width: 650px;
   }
   #plant-img1{
    display: flex;
   }

   #care-title{
max-width: 650px;
margin: 0 auto;
   }

   .care-part2{
    gap: 64px;
    max-width: 1228px;
   }
   .care-part2 img{
    max-width: 571px;
   }
   .care-details{
    align-items: center;
   }
   .care-content{
    gap: 0px;
   }
   .care{
    padding-top: 21px;
   }

   #plant-img2{
    display: none;
   }
   #hide{
    display: none;
   }

   .footer-2{
    gap: 44px;
   }
   .footer{
    max-width: 1300px;
    gap: 38px;
   }
   hr{
    width: 1325px;
   }
   .copy-right{
    padding-bottom: 55px;
   }
}


@media only screen and (max-width:1366px) {
    .wrapper {
        max-width: 1316px;
    }
    .services-content{
        justify-content: space-evenly;
    }
    .care{
        padding-bottom: 49px;
    }
    .footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    hr{
        width: 1137px;
    }
  .footer{
    max-width: 1180px;
  }
    .footer-1 {
        text-align: center;
    }

    .footer-2{
        gap: 86px;
    }
}



@media only screen and (max-width:1200px) {
    .wrapper {
        max-width: 1150px;
    }

    .navbar {
        gap: 315px;
    }

    h1 {
        font-size: 64px;
    }

    .header-part2 {
        max-width: 1030px;
    }
    .dot-1 {
        left: 66px;
        transform: translate(9px, 100px);
    }

    .dot-2 {
        transform: translate(65px, 261px);
    }

    .dot-3 {
        transform: translate(40px, 261px);
    }


    #width2{
        display: none;
    }

    #service-part-2{
        padding-top: 44px;
        display: flex;
        justify-content: center;
    }

    .card-p2 {
        gap: 30px;
    }

    .frame-title{
        gap: 8px;
        text-align: initial;
    }

    .frame img{
        width: 67px;
    }
    h5{
        font-size: 27px;
    }

    #collect{
        display: none;
    }
    

    #collect-2{
        display: flex;
    }
    .sec-5-one {
        display: flex;
        align-items: center;
    }
    hr{
        width: 910px;
    }
    .footer{
        max-width: 985px;
    }
    .footer-2{
        gap: 79px;
    }
    
}

@media only screen and (max-width:1080px) {
    .wrapper {
        max-width: 1030px;
    }

    h1 {
        font-size: 41px;
    }

    h3 {
        font-size: 21px;
    }

    .header-part2 {
        max-width: 819px;
    }

    .menu ul {
        gap: 42px;
    }

    .dot-1 {
        left: 66px;
        transform: translate(9px, 100px);
    }

    .dot-2 {
        transform: translate(65px, 261px);
    }

    .dot-3 {
        transform: translate(161px, 261px);
    }

    .services-content{
        justify-content: space-between;
    }


    .reference-grid{
        flex-direction: column;
    }
    .reference-grid-p1{
        flex-direction: row;

    }

    .reference-grid-p2{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #img2 img{
        height: 360px; 
    }
    #img3 img{
        height: 383px;
    }
    .sec-5-one {
        display: flex;
        align-items: center;
    }

    #plant-img1 {
        flex-direction: column;
    }
    .care-content{
        margin: 0 auto;
    }

    .care-part2{
        padding-top: 66px;
    }
.navbar{
    padding: 30px 0px;
}

}


/* tablet */

@media only screen and (max-width:1024px) {
    .wrapper {
        max-width: 974px;
    }


    .navbar {
        justify-content: space-between;
    }

    .menu-list {
        display: none;
    }

    .hamburger img {
        display: flex;
    }

    .search-div {
        max-width: 326px;
    }

    input[type="text"] {
        max-width: 452px;
    }

    .search-btn {
        max-width: 382px;
    }
    .header-part2{
        max-width: 778px;
    }


    .dot-1{
        max-width: 46px;
        height: 46px;
    }
    .dot-2{
        max-width: 46px;
        height: 46px;
    }
    .dot-3{
        max-width: 46px;
        height: 46px;
    }
    .footer{
        max-width: 865px;
    }
    .footer-2{
        gap: 52px;
        width: 889px;
    }
    hr{
        width:910px;
    }
}

@media only screen and (max-width:992px) {
    .wrapper {
        max-width: 942px;
    }
.container:hover{

max-width: 600px;
}

.reference-grid-p1{
    flex-direction: column;
}
.reference-title{
    gap: 16px;
    text-align: center;
}

.reference-title h2{
    font-size: 42px;
    line-height: 58px;
}

.reference-title h6{
    font-size: 21px;
}

hr{
    max-width:770px;
    width: 100%;
}

.footer{
    max-width: 814px;
}

.footer-2 {
    flex-wrap: wrap;
    max-width: 447px;
    gap: 45px 33px;
}

.footer-sec-1 {
    min-width: 179px;
}

.footer-sec-3 {
    min-width: 179px;
}

.footer-sec-4{
    width:151px
}
}

@media only screen and (max-width:830px) {
.services-content{
    
flex-direction: column;
    
gap: 44px;
}

h2{
    font-size: 51px;
}

.shadow{
    margin-top: 263px;
}

hr{
    max-width: 610px;
}
.footer{
    max-width: 730px;
}
.copy-right{
    padding-bottom: 20px;
}
}

@media only screen and (max-width:767px) {
    .wrapper {
        max-width: 717px;
    }

    .navbar {
        justify-content: space-around;
    }
    .title{
        max-width: 507px;
    }
    h1{
        font-size: 38px;
    }

    .header-part2{
        max-width: 529px;
    }

    .seller-part-2 {
        flex-direction: column;
        align-items: center;
        gap: 154px;
    }

    #card-hide{
        display: block;
    }

    .shadow{
        margin-top: 176px;
    }
    .care-part2 img{
        max-width: 529px;
    }
    .large-img{
        text-align: center;
    }

    .footer{
        max-width: 530px;
    }
    .copy-right p{
        font-size: 20px;
    }

    
}


/* mobile */

@media only screen and (max-width:640px) {
    /* .wrapper {
        max-width: 550px;
    } */
    h2{
        font-size: 42px;
    }

    .best-seller {
        padding: 32px 0px;
    }

    .care-part2 img{
        max-width: 450px;
    }
    #reverse{
        flex-direction: row-reverse;
    }

    .care-part1{
        gap: 51px;
    }

    hr{
        max-width: 481px;
    }

    .footer-2{
        max-width: 328px;
        text-align: center;
    }
    .footer-sec-1{
        max-width: 205px;
    }
    .footer-sec-4{
        width: 180px;
    }
    .footer-sec-2{
        width: 278px;
    }

    .footer-sec-3{
        width: 188px;
    }


    .footer-sec-1 ul{
        display: flex;
        gap: 15px;
    } 

    .footer-sec-2 ul{
        display: flex;
        gap: 15px;
    } 
    .footer-sec-3 ul{
        display: flex;
        gap: 15px;
    } 

.footer p{
    margin-top: 21px;
}
    .footer{
        max-width: 440px;
    }
    .copy-right{
        max-width: 400px;
        padding-top: 31px;
    }

    .footer{
        padding-top: 46px;
        gap: 27px;
    }

    .footer-2{
        gap: 20px 33px;
    }

    .footer p{
        margin-top: 11px;
    }
    
}

@media only screen and (max-width:480px) {
    .wrapper {
        max-width: 430px;
    }

    .hamburger{
        max-width: 44px;
    }

    .dot-3 {
        transform: translate(7px, 261px);
    }

    .frame{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-size: 37px;
    }

    .frame img{
        width: 60px;;
    }

    .frame-title{
        text-align: center;
    }

    #img2 img{
        height: 274px;
    }

    #img3 img{
        height: 321px;
    }

    .reference-title h2{
  line-height: 48px;
    }

    .middle{
        border-radius: 21px;
    }

    .care-part2 img{
        max-width: 380px;
    }

    .sec-5-one img{
        max-width: 50px;
    }
    h5{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }

    .care-part2 img{
        max-width: 320px;
    }
.footer{
    max-width: 375px;
}
hr{
    max-width: 340px;
}

input[type="text"] {
    max-width: 300px;
}

.copy-right{
    max-width: 300px;
 }

}


@media only screen and (max-width:375px) {
    /* .wrapper {
        max-width: 425px;
    } */
    .hamburger{
        max-width: 44px;
    }
    .navbar{
        gap: 212px;
    }
    .search-btn{
        max-width: 216px;
        border-radius: 24px;
    }
    .search-div{
        max-width: 177px;
        padding: 7px 20px;
    }

    input[type="text"] {
    max-width: 173px;
    }
    .dot-3 {
        transform: translate(7px, 261px);
    }

    h2{
        font-size: 29px;
    }

    input[type="text"] {
    padding: 0px;
    }

    #img2 img{
        height: 210px;
    }

    #img3 img{
        height: 300px;
    }
    .care-part2 img{
        max-width: 294px;
    }
 .copy-right{
    max-width: 300px;
 }

 .footer{
    max-width: 300px;
 }
 hr{
    max-width: 280px;
 }

 #subscribe-1{
    display: none;
 }
 #subscribe-2{
    display: flex;
    padding-top: 22px;
 }

 .footer-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-1 h2{
    font-size: 37px;
}

.footer-2{
    max-width: 300px;
}


.footer-sec-1 ul{
    display: block;
    gap: 15px;
} 

.footer-sec-2 ul{
    display: block;
    gap: 15px;
} 
.footer-sec-3 ul{
    display: block;
    gap: 15px;
} 
}

@media only screen and (max-width:320px) {
  
    .hamburger{
        max-width: 44px;
    }
}


.dropbtn {
    background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     border-radius:20px;
     
   }
   
  



